
@mixin common-padding{
    padding: 4% 0;;
}
@mixin common-heading{
	font-size: 32px;
	color: $primary-color;
	font-weight: 600;
	line-height: 45px;
	font-family: $heading-font;
    span{
            display: inline-block;
            position: relative;
            &:before{
                position: absolute;
                content:"";
                background-image: url("../images/prev__arrow.png");
                left: -60px;
                width: 68px;
                height: 79px;
                transform: scale(0.3);
                top: -15px;
                height: 78px;
                width: 66px;
            }
            &:after{
                position: absolute;
                content:"";
                background-image: url("../images/next__arrow.png");
                right: -60px;
                width: 68px;
                height: 79px;
                transform: scale(0.3);
                top: -15px;
                height: 78px;
                width: 66px;
            }
        }
}
@mixin common-paragraph{
    font-family: $paragraph-font;
    color: $text-color;
    font-size: 16px;
    line-height: 28px;
}
@mixin border-radius ($radius-value){
    border-radius: $radius-value;
    -webkit-border-radius: $radius-value;
    -moz-border-radius:$radius-value;
}

@mixin box-shadow($top,$left,$blur,$shadow){
box-shadow:$top $left $blur $shadow;
-webkit-box-shadow:$top $left $blur $shadow;
-moz-box-shadow:$top $left $blur $shadow;
}   


