$color_1: #ababab;
$color_2: #e3e3e3;
$color_3: #fff;
$color_4: #97c7ff;
$color_5: white;
$color_6: #0e3692;
$color_7: #404041;
$color_8: #020e28;
$color_9: #2c2c2c;
$color_10: #222;
$color_11: #245690;
$color_12: #000;
$color_13: #FFF;
$color_14: #c32b26;
$color_15: #313131;
$color_16: #83404e;
$color_17: #5ca3fb;

$background-color_1: #ff5964;
$background-color_2: #0f3693;
$background-color_3: #fff;
$background-color_4: #e3e3e3;
$background-color_5: transparent;
$background-color_6: red;
$background-color_7: #f4f4f4;
$background-color_8: #245690;
$background-color_9: #000;
$background-color_10: #f7ad5f;
$background-color_11: #5ca3fb;
$background-color_12: #efefef;
$border-color_1: #ccc #ccc transparent;



$font-family_1: 'Rubik', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$font-family_3: 'Montserrat', sans-serif;

$font-family_5: 'Poppins', sans-serif;


$border-color_1: rgba(255,255,255,0.15);
$border-color_2: #e6e6e6;
$border-color_3: #f55b14;
$border-color_4: #245690;



$primary-color:#0f3693;
$secondary-color:#fff;
$heading-font:'Montserrat', sans-serif;
$paragraph-font:'Roboto', sans-serif;
$text-color:#404041;
