$primary-color:#0f3693;
$secondary-color:#fff;
$heading-font:'Montserrat', sans-serif;
$paragraph-font:'Roboto', sans-serif;
$text-color:#404041;
$nav-dropdown-color:#97c7ff;
$bg-gray: #f4f4f4;
$black-color:#000;