
@import 'reset';
@import 'variables';
@import 'mixins';
@import 'breakpoints';
@import 'hamberger-nav';



body {
	font-size: 15px;
	line-height: 1.8em;
	font-weight: 400;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-family: $heading-font;
	font-family: $paragraph-font;
}
.auto-container {
	position: static;
	max-width: 1200px;
	padding: 0px 15px;
	margin: 0 auto;
}
.main-header {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 999;
	width: 100%;
	overflow: hidden;
	.header-top {
		position: relative;
		background: #f4f4f4db;
		.top-left {
			position: relative;
			float: left;
			padding: 10px 0;
			.links {
				position: relative;
				float: left;
				li {
					position: relative;
					float: left;
					margin-right: 18px;
					line-height: 1em;
					padding-right: 18px;
					&:after {
						content: '';
						position: absolute;
						right: 0px;
						top: 50%;
						margin-top: -7px;
						height: 15px;
						border-right: 1px solid #c3c3c3;
					}
					&:last-child {
						&:after {
							display: none;
						}
					}
					.icon {
						position: relative;
						top: 0px;
						color: $primary-color;
						font-size: 18px;
						line-height: 24px;
						margin-right: 10px;
					}
					a {
						position: relative;
						line-height: 22px;
						color: $primary-color;
						font-size: 16px;
						font-weight: 400;
						-moz-transition: all 500ms ease;
						-webkit-transition: all 500ms ease;
						-ms-transition: all 500ms ease;
						-o-transition: all 500ms ease;
						transition: all 500ms ease;
						&:hover {
							color: $text-color
						}
					}
				}
			}
			ul {
				li {
					&:last-child {
						margin-right: 0px;
						padding-right: 0px;
					}
				}
			}
		}
		.top-right {
			position: relative;
			float: right;
			padding: 10px 0px;
			ul {
				li {
					position: relative;
					color: $primary-color;
					font-size: 14px;
					float: left;
					line-height: 1.6em;
					margin-right: 20px;
					span {
						position: relative;
						margin: 0px 5px;
					}
					a {
						position: relative;
						color: $primary-color;
						font-size: 15px;
						-moz-transition: all 500ms ease;
						-webkit-transition: all 500ms ease;
						-ms-transition: all 500ms ease;
						-o-transition: all 500ms ease;
						transition: all 500ms ease;
						font-weight: 600;
						font-family: $heading-font;
						.icon {
							position: relative;
							margin-right: 12px;
							color: $text-color;
						}
						@include breakpoints(991px){
							font-size: 14px;
						}
					}
				}
			}
			>ul {
				>li {
					>a {
						&:hover {
							color: $text-color;
							text-decoration: underline;
						}
					}
					&:last-child {
						margin-right: 0px;
						padding-left: 12px;
						&::before {
							position: absolute;
							content: '';
							left: 0px;
							top: 3px;
							width: 1px;
							height: 15px;
							background-color: transparent;
						}
					}
				}
				position: relative;
				float: left;
			}
		}
	}
	.header-lower {
		position: relative;
		padding-top: 30px;
		overflow: hidden;
		.lower-left {
			position: relative;
			margin-bottom: 10px;
		}
		.info-box {
			position: relative;
			float: left;
			min-height: 45px;
			margin-right: 28px;
			font-size: 14px;
			color: $secondary-color;
			text-align: left;
			font-weight: 500;
			line-height: 1.8em;
			margin-bottom: 20px;
			padding: 0px 28px 0px 50px;
			border-right: 2px solid #e6e6e6;
			&:last-child {
				margin-right: 0px;
				padding-right: 0px;
				border: none;
			}
			.icon-box {
				position: absolute;
				left: 0px;
				top: 4px;
				font-size: 42px;
				line-height: 1em;
			}
			strong {
				text-transform: uppercase;
				font-weight: 600;
				color: $primary-color;
				display: block;
				font-family: $heading-font;
			}
		}
		.lower-right {
			position: relative;
			margin-top: 20px;
			padding-left: 10px;
			&:before {
				position: absolute;
				content: '';
				left: 0%;
				bottom: 0px;
				width: 2000px;
				height: 100%;
				background-color: $primary-color;
				-ms-transform: skewX(-25deg);
				-webkit-transform: skewX(-25deg);
				transform: skewX(-25deg);
			}
		}
	}
	.language {
		.flag-img {
			position: relative;
			margin-right: 10px;
			top: -2px;
		}
		.dropdown-menu {
			top: 100%;
			left: 0px;
			width: 180px;
			@include border-radius(0px);
			margin-top: 18px;
			border: none;
			padding: 0px;
			>li {
				padding-right: 0px !important;
				margin: 0px !important;
				float: none;
				width: 100%;
				display: block !important;
				border-bottom: 1px solid rgba(255,255,255,0.20);
				&:last-child {
					border-bottom: none;
				}
				>a {
					padding: 10px 20px !important;
					color: $secondary-color !important;
					text-align: left;
					-webkit-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					transition: all 300ms ease;
					&:hover {
						color: $primary-color !important;
						background-color: $secondary-color;
					}
				}
			}
		}
		>a {
			padding: 0px 0px;
			background: none !important;
			border: 0px;
			@include border-radius(0px);
		}
	}
	language {
		a {
			&:hover {
				background: none;
			}
		}
	}
	.main-box {
		position: relative;
		padding: 0px 0px;
		left: 0px;
		top: 0px;
		width: 100%;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		transition: all 300ms ease;
		padding: 12px 0px;
		background-color: $primary-color;
		float: left;
		@include breakpoints(991px){
			padding: 8px 0;
		}
		.outer-container {
			position: relative;
		}
		.logo-box {
			float: left;
			.logo {
				img {
					display: inline-block;
					max-width: 85%;
					-webkit-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					transition: all 300ms ease;
				}
			}
		}
	}
	.nav-toggler {
		position: relative;
		right: 0px;
		width: 44px;
		height: 46px;
		top: 50%;
		margin-top: 0px;
		display: block;
		@include border-radius(4px);
		text-align: center;
		border: 1px solid #dddddd;
		button {
			position: relative;
			left: 12px;
			display: block;
			color: $secondary-color;
			text-align: center;
			font-size: 20px;
			line-height: 44px;
			background: none;
			font-weight: 600;
		}
	}
	.nav-outer {
		position: static;
		float: right;
		.outer-box {
			position: relative;
			float: right;
			margin-left: 28px;
			margin-top: 26px;
			.quote-btn {
				position: relative;
				font-size: 14px;
				font-weight: 700;
				color: $primary-color;
				float: left;
				letter-spacing: 1px;
				text-transform: uppercase;
				padding: 12px 22px 14px;
				border-left: 2px solid rgba(255,255,255,0.20);
				border-right: 2px solid rgba(255,255,255,0.20);
				font-family: $paragraph-font;
				&:after {
					position: absolute;
					content: '';
					left: 22px;
					right: 22px;
					bottom: 16px;
					height: 1px;
					-webkit-transition: all 300ms ease;
					-ms-transition: all 300ms ease;
					-o-transition: all 300ms ease;
					-moz-transition: all 300ms ease;
					transition: all 300ms ease;
				}

				.icon {
					position: relative;
					width: 20px;
					height: 13px;
					margin-left: 2px;
					display: inline-block;
					background: url(../images/icons/msg-icon.png) no-repeat;
				}
				.icon.icon-two {
					background: url(../images/icons/msg-icon-1.png) no-repeat;
				}
			}
			.social-icon-one {
				float: left;
				margin-left: 6px;
				margin-top: 14px;
			}
		}
	}
}
.header-style-two {
	.header-top {
		.top-right {
			ul {
				li {
					a {
						color: $primary-color;
					}
				}
			}
			>ul {
				>li {
					&:last-child {
						&::before {
							background-color: $primary-color;
						}
					}
				}
			}
		}
	}
	.nav-outer {
		.outer-box {
			.social-icon-one {
				li {
					a {
						color: $primary-color;
					}
				}
			}
		}
	}
}
.header-style-three {
	.header-upper-two {
		.header-upper-left {
			.language {
				position: relative;
				float: left;
				padding: 14px 0px;
			}
			.info-box {
				position: relative;
				padding-left: 20px;
				margin-left: 20px;
				display: inline-block;
				border-left: 2px solid rgba(255,255,255,0.20);
			}
			position: relative;
			padding-left: 300px;
			padding-top: 18px;
			padding-bottom: 17px;
		}

		.header-upper-right {
			.social-icon-one {
				margin-top: 32px;
			}
		}
	}

	.nav-outer {
		.outer-box {
			margin-top: 20px;
			margin-left: 0px;
		}
	}
}
.main-menu {
	.navigation {
		>li {
			&:last-child {
				>ul {
					left: auto;
					right: 0px;
				}
			}
		}
	}
}

.main-header.fixed-header {
	.main-box {
		.logo-box {
			padding: 5px 0px;
		}
	}
	.nav-outer {
		.search-box-outer {
			margin-top: -10px;
		}
	}
}
.market-section {
	position: relative;
	@include common-padding;
	background-color: #020e28;
	h1{
		@include common-heading;
		color:$secondary-color;
		margin-bottom: 100px;
		@include breakpoints(991px){
			margin-bottom: 50px;
		}
	}
	.row {
		margin: 0px -30px;
		.m-block {
			padding: 0px 30px;
			padding: 0px 30px;
			&:nth-child(2) {
				.inner-box {
					&:after {
						content: '';
						position: absolute;
						left: -30px;
						bottom: 30px;
						top: 0px;
						border-left: 1px solid $secondary-color;
					}
				}
			}
			&:nth-child(3) {
				.inner-box {
					&:after {
						content: '';
						position: absolute;
						left: -30px;
						bottom: 30px;
						top: 0px;
						border-left: 1px solid $secondary-color;
					}
				}
			}
			&:nth-child(5) {
				.inner-box {
					&:after {
						content: '';
						position: absolute;
						left: -30px;
						bottom: 30px;
						top: 0px;
						border-left: 1px solid $secondary-color;
					}
					border-bottom: none;
				}
			}
			&:nth-child(6) {
				.inner-box {
					&:after {
						content: '';
						position: absolute;
						left: -30px;
						bottom: 30px;
						top: 0px;
						border-left: 1px solid $secondary-color;
					}
					border-bottom: none;
				}
			}
			&:nth-child(4) {
				.inner-box {
					border-bottom: none;
				}
			}
			// &:nth-last-child(1) {
			// 	margin-top: 30px;
			// }
		}
	}
	.title-column {
		position: relative;
		.inner-column {
			position: relative;
			padding-bottom: 40px;
			border-bottom: 1px solid $secondary-color;
			.text {
				position: relative;
				color: $bg-gray;
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
				margin-bottom: 45px;
				@include breakpoints(991px){
					margin-bottom: 10px;
					padding: 0 100px;
					text-align: center;
				}
			}
		}
		.sec-title {
			margin-bottom: 40px;
			@include breakpoints(991px){
				display: none;
			}
		}
	}
	.market-block {


		.inner-box {
			&:before {
				content: '';
				position: absolute;
				left: -30px;
				right: -30px;
				top: 0px;
				bottom: -1px;
				opacity: 0;
				visibility: hidden;
				content: '';
				position: absolute;
				left: -30px;
				right: -30px;
				top: 0px;
				bottom: -1px;
				opacity: 0;
				visibility: hidden;
				background-color: #245690;
			}
			&:hover {
				&:before {
					opacity: 1;
					visibility: visible;
				}
			}
			&:hover .icon-box{
				opacity: 1;
				visibility: visible;
			}
			.icon-box {
				position: relative;
				font-size: 50px;
				line-height: 1em;
				transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-webkit-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				color: #fff;
			}
		}
	}
}
.sec-title {
	position: relative;
	margin-bottom: 50px;
	h2 {
		position: relative;
		font-size: 22px;
		font-weight: 500;
		color: $primary-color;
		line-height: 1.2em;
		padding: 0px 0px 10px;
		display: inline-block;
		font-family: $heading-font;
	}
	.separator {
		position: relative;
		width: 75px;
		&:before {
			position: absolute;
			content: '';
			left: 0px;
			bottom: 0px;
			width: 75px;
			height: 2px;
			background-color: $secondary-color;
		}
		&:after {
			position: absolute;
			content: '';
			left: 0px;
			bottom: 2px;
			width: 25px;
			height: 4px;
			background-color: #5ca3fb;
		}
	}
}
.sec-title.light {
	h2 {
		color: $secondary-color;
	}
}
.market-block {
	position: relative;
	margin-bottom: 30px;
	.inner-box {
		@include breakpoints(768px){
			height:260px ;
		}
		h3 {
			position: relative;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.5em;
			margin-bottom: 8px;
			a {
				&:hover {
					color: $secondary-color;
				}
				position: relative;
				color: #5ca3fb;
				transition: all 300ms ease;
				-moz-transition: all 300ms ease;
				-webkit-transition: all 300ms ease;
				-ms-transition: all 300ms ease;
				-o-transition: all 300ms ease;
				font-weight: 600;
				font-size: 18px;
				text-decoration: none;
				font-family: $heading-font;
				text-transform: uppercase;
			}
		}
		&:hover {
			border-color: #245690;
			.text {
				opacity: 1;
				visibility: visible;
			}
			.view_all {
				opacity: 1;
				visibility: visible;
			}
		}
		position: relative;
		padding: 30px 0px;
		transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		border-bottom: 1px solid $secondary-color;
		position: relative;
		padding: 30px 0px;
		transition: all 300ms ease;
		-moz-transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		-ms-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		border-bottom: 1px solid $secondary-color;
		.text {
			position: relative;
			color: $bg-gray;
			font-size: 16px;
			line-height: 1.8em;
			font-weight: 400;
			margin-bottom: 45px;
			opacity: 1;
			visibility: visible;
			transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-webkit-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
		}
		.view_all {
			position: absolute;
			left: 0px;
			bottom: 30px;
			font-size: 14px;
			font-weight: 500;
			color: $secondary-color;
			opacity: 0;
			visibility: hidden;
			transition: all 300ms ease;
			-moz-transition: all 300ms ease;
			-webkit-transition: all 300ms ease;
			-ms-transition: all 300ms ease;
			-o-transition: all 300ms ease;
			font-family: $heading-font;
		}
		.icon-box{
			img{
				width: 17%;
				margin-bottom: 20px;
			}
		}
	}
	&:nth-last-child(1){
		margin-top: 30px;
	}
}
.news-block-two {
	position: relative;
	.inner-box {
		position: relative;
		background-color: $secondary-color;
		transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-webkit-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		.image {
			position: relative;
			transition: all 500ms ease;
			-moz-transition: all 500ms ease;
			-webkit-transition: all 500ms ease;
			-ms-transition: all 500ms ease;
			-o-transition: all 500ms ease;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			img {
				position: relative;
				width: 100%;
				display: block;
				transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-webkit-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
		}
		.lower-content {
			position: relative;
			border: 1px solid #0f369373;
			padding: 24px 20px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			h3 {
				position: relative;
				color: $primary-color;
				font-size: 19px;
				font-weight: 600;
				line-height: 28px;
				padding-bottom: 5px;
				a {
					position: relative;
					color: $primary-color;
					transition: all 500ms ease;
					-moz-transition: all 500ms ease;
					-webkit-transition: all 500ms ease;
					-ms-transition: all 500ms ease;
					-o-transition: all 500ms ease;
					font-family: $heading-font;
				}
			}
			.post-date {
				position: relative;
				color: $text-color;
				font-size: 15px;
				font-weight: 600;
				margin-bottom: 12px;
				font-family: $heading-font;
				i{
					color: $primary-color;
				}
			}
			.text {
				position: relative;
				color: $text-color;
				font-size: 16px;
				line-height: 26px;
				margin-bottom: 12px;
			}
			.read-more {
				position: relative;
				color: $primary-color;
				font-size: 15px;
				font-weight: 500;
				transition: all 500ms ease;
				-moz-transition: all 500ms ease;
				-webkit-transition: all 500ms ease;
				-ms-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				font-family: $paragraph-font;
				a{
					span{
						font-size: 14px;
					}
				}
			}
		}
	}
}

.contact-top-banner-section{
	@include common-heading-banner;
}
.contract-vendor{
	width: 100%;
	.contract-vendor-main {
		display: grid;
		grid-auto-rows: 280px;
		grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
		grid-gap: 0em;
		.contract-vendor-box{
			background-color: #4496c8;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&:nth-child(1){
				background-color: $primary-color;
			}
			svg{
				width: 13%;
			}
			h2{
				font-size: 45px;
				font-family: $heading-font;
				color: $secondary-color;
				line-height: 40px;
				span{
					font-size: 30px;
				}
			}
		}
	}
}

.mt-30{
	margin-top: 32px;
}
.form-address{
	width: 100%;
	.main-form-address{
		display: grid;
		grid-auto-rows: 630px;
		grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
		grid-gap: 0em;
		.form-address-box{
			background-color: $primary-color;
			padding: 100px;
			&:nth-child(1){
				background-color: $secondary-color;
			}
			h4{
				color:#4496c8;
				text-transform: uppercase;
				font-family: $heading-font;
				font-weight: 700;
			}
			.address-content{
				.icon-div{
					width: 3%;
					float: left;
					img{
						width: 100%;
					}
				}
				p{
					display: table;
					font-size: 16px;
					color: $text-color;
					font-family: $paragraph-font;
					margin-left: 35px;
					margin-bottom: 35px;
					a{
						text-decoration: none;
						color: $text-color;
					}
					span{
						color:$primary-color;
						font-weight: 500;
						font-size: 17px;
						display: block;
						margin-bottom: -20px;
					}
				}
			}
			.form-control{
				background-color: transparent;
				font-size: 16px;
				color: $secondary-color;
				@include border-radius(0px);
				padding: 8px;

				&:focus{
					box-shadow: none;
					border-color: $secondary-color;
				}
				&::placeholder {
					color:$secondary-color;
				  }
				  
				  &::-ms-input-placeholder { 
					color:$secondary-color;
				  }
			}
			.btn{
				background-color: #4496c8;
				border: none;
				outline: none;
				font-family: $paragraph-font;
				font-size: 17px;
				font-weight: 500!important;
				text-transform: uppercase;
				@include border-radius(50px);
				height: auto;
				line-height: 40px;
				transition: all 0.5s;
				&:hover{
					background-color: $secondary-color;
					color: $primary-color;
					transition: all 0.5s;
				}
			}
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			  }
			  input::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			  }
		}
	}
}

.location-map{
	width: 100%;
	.location-map-main{
		display: grid;
		grid-auto-rows: 630px;
		grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
		grid-gap: 0em;
		.location-map-box{
			background-color: $primary-color;
			&:nth-child(1){
				background-color: #4496c8;
				padding-left: 100px;
				padding-left: 100px;
				display: flex;
				align-items: baseline;
				flex-direction: column;
				justify-content: center;
			}
			h1{
				font-family: $heading-font;
				color: $secondary-color;
				font-size: 70px;
				font-weight: 600;
			}
			p {
				display: block;
				font-family: $paragraph-font;
				font-size: 28px;
				color: #b6d7ea;
			};
			#map{
				width: 100%;
				height: 100%;
			}
		}
	}
}

.about-us-main{
	width: 100%;
	background-image: url("../images/about-us-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	@include common-padding;
	h1{
		@include common-heading;
	}
	p{
		font-size: 18px;
		color: $primary-color;
		font-family: $heading-font;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		line-height: 38px;
		margin-bottom: 0;
	}
}
.about-key-points{
	width: 100%;
	background-color: #b6d7ea;
	.key-points{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		&:nth-child(even){
			background-color: $primary-color;
			h4{
				color: $secondary-color;
			}
			p{
				color: $secondary-color;
				
			}
		}
		height: 250px;
		h4{
			font-family: $heading-font;
			color: $primary-color;
			font-size: 24px;
			font-weight: 600;
		}
		p{
			@include common-paragraph;
			color: $text-color;
		}
	}
}

.mission-vision-value{
	width: 100%;
	background-image: url("../images/mission-vision-value-bg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 80vh;
	@include common-padding;
	h1{
		@include common-heading;
	}
	.main-mission-vision-value {
		width: 100%;
		display: grid;
		grid-auto-rows: minmax(400px, auto);
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		grid-gap: 50px;
		margin-top: 140px;
		.mission-vision-value-box{
			text-align: center;
			background-color: #0f3693d6;
			padding: 0px 30px 0;
			h3{
				color: #b6d7ea;
				font-family: $heading-font;
				font-size: 30px;
				font-weight: 600;
			}
			p{
				@include common-paragraph;
				color: $secondary-color;
				font-weight: 300;
			}
			.icons-box{
				width: 110px;
				height: 110px;
				background-color: $secondary-color;
				@include border-radius(80px);
				margin: 0 auto;
				top: -50px;
				position: relative;
				border: 5px solid #a7d3f1;
				img{
					width: 60%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}
	}
}



